#id2 {
  background-color: gray;
  margin-top: 10px;
  border-bottom: 2px solid black;
}

#id2 img {

  float: left;
  width: 100%;
  height: auto;
  max-width: 250px;
  margin: 5px;
}

#id2 p {
  // margin-top: 30px;

}

#id2 a {
  float: right;
}
