#id4 {
  background-color: gray;
  margin-top: 10px;
  border-bottom: 2px solid black;
}

#id4 img {

  float: left;
  width: 100%;
  height: auto;
  max-width: 250px;
  margin: 5px;
}

#id4 p {
  // margin-top: 30px;

}

#id4 a {
  float: right;
}
